{%extends 'basic.html'%}
{%load static%}
{%block style%}
<link rel="stylesheet" href="{%static 'css/encryptfiles.css'%}">
{%endblock%}
{%block main%}
<div class="containers">
    <div id="key_box"><button id="close_key_box" onClick="hide_key()">close</button><br><span style="color: black;">Copy this key For Decrypt:<br><br></span></div>
    <div class="encryption">
        <form id="encryption_form" method="POST" enctype="multipart/form-data" novalidate="">
            {%csrf_token%}
            <h1 align="center">Encrypt Your File</h1>
            <div style="margin: 10px; margin-bottom:10px;">
                <label for="" style="font-size: 25px;">Enter Your Email: </label>
                {{form.username}}
            </div>

            {{form.my_file}}
            <!-- <input id="submit" name="submit" type="submit" value="Encrypt"> -->
            <input id="decrypt-submit-button" type="submit">
        </form>
        <div class="encryptedFileDownloadContainer">
            <a id="enc_download" href="" download>Download</a>
        </div>
    </div>

    <div class="decryption">
        <div class="loading"></div>
        <form id="decryption_form" method="POST" enctype="multipart/form-data" novalidate="">
            {%csrf_token%}
            <h1 align="center">Decrypt Your File</h1>
            <div>
                <label for="key" style="font-size: 25px;">Enter File Key: </label>
                <input id="key" name="key" type="text">
            </div>
            <input id="decrypt_button" type="submit">
        </form>
        <div class="decryptedFileDownloadContainer">
            <a id="dec_download" download>Download</a>
        </div>
    </div>

</div>
    {%endblock%}
    {%block javascript%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{%static 'js/tools.js'%}"></script>
    <script>
        initializeLoadingScreen("loading");
        
        $('#encryption_form').submit(function (e) {
            show_loading_screen();
            e.preventDefault()
            $form = $(this)
            var formData = new FormData(this);
            console.log('printing for form data');
            for (var f of formData) {
                console.log(f);
            }
            console.log(formData);
            $.ajax({
                url: "{%url 'encryptfile'%}",
                data: formData,
                type: 'POST',
                success: function (response) {
                    if (response.error) {
                        hide_loading_screen();
                        alert(response.error_msg);
                        hide_key();
                    }
                    else {
                        hide_loading_screen();
                        $('.encryptedFileDownloadContainer').css("display", "block");
                        $("#enc_download").attr("href", response.url);
                        $('#key_box').append(response.key);
                        $('#key_box').append("<br><br><span style='color:black;'>You can copy this key only one time.</span>");
                        show_key();
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
            e.preventDefault()
        });
        $('#decryption_form').submit(function (e) {
                show_loading_screen();
                e.preventDefault()
                var key = document.getElementById('key')
                var form_data = new FormData(this)
                $.ajax({
                    url: "{%url 'decryptfile'%}",
                    data: form_data,
                    type: 'POST',
                    success: function (response) {
                        alert('got success response')
                        console.log(response)
                        if (response.error) {
                            hide_loading_screen();
                            alert(response.error_msg);
                        }
                        else {
                            hide_loading_screen();
                            $('.decryptedFileDownloadContainer').css("display", "block");
                            $("#dec_download").attr("href", response.url);
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
                e.preventDefault()
            });
    </script>
    {%endblock%}