.converterhome{
    display: flex;
    font-family: Helvetica, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    color:darkblue;
    font-weight: bolder;
    margin-top: 50px;
}
#heading {
    font-weight: bolder;
    text-shadow: 0 0 10px red;
    animation: headinganimation 2s infinite;
}
@keyframes headinganimation{
    0%{
        color: green;
    }
    50%{
        color: red;
    }
    100%{
        color: blue;
    }
}
.homelinks{
    display: flex;
    flex-direction: column;
}
.homelinks a{
    display: block;
    color: red;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: black;
    font-size: 30px;
    border-radius: 10px;
}

.homelinks a:hover{
    background-color: blue;
    color: white;
}