.containers{
    display: flex;
    flex-direction: column;
}
.encryption, .decryption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: white;
    padding-bottom: 30px;
    margin-top: 50px;
    width: 80vw;
}
.encryption button,input{
    font-size: 20px;
    padding: 5px;
    color: black;
}
.decryption button,input{
    font-size: 20px;
    padding: 5px;
    color: black;
}
.encryptedFileDownloadContainer{
    display: none;
}
.decryptedFileDownloadContainer{
    display: none;
}
#enc-download, #dec-download{
    display: block;
    background-color:black;
    color: white;
    font-size: 30px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    animation: buttonanimation 3s infinite;
}
@keyframes buttonanimation{
    0%{
        background-color: red;
    }
    50%{
        background-color: black;
    }
    100%{
        background-color: turquoise;

    }
}
#enc-download:hover{
    display: block;
    background-color:blue;
    color: black;
    font-size: 30px;
    margin-top: 50px;
}
#dec-download:hover{
    display: block;
    background-color:blue;
    color: black;
    font-size: 30px;
    margin-top: 50px;
}