.containers{
    display: grid;
    flex-direction: column;
}
#encryption_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#id_my_file {
    text-align: center;
    align-content: center;
}
.encryption, .decryption{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 10px;
}
.encryption button,.decryption button{
    font-size: 20px;
    padding: 5px;
    color: black;
}
input{
    display: block;
    font-size: 20px;
    padding: 5px;
    color: black;
}
.encryptedFileDownloadContainer{
    display: none;
}
.decryptedFileDownloadContainer{
    display: none;
}
#enc_download, #dec_download{
    display: block;
    background-color:black;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    animation: buttonanimation 3s infinite;
}
@keyframes buttonanimation{
    0%{
        background-color: red;
    }
    50%{
        background-color: black;
    }
    100%{
        background-color: turquoise;

    }
}
#enc_download:hover{
    display: block;
    background-color:blue;
    color: black;
    font-size: 30px;
    margin-top: 50px;
}
#dec_download:hover{
    display: block;
    background-color:blue;
    color: black;
    font-size: 30px;
    margin-top: 50px;
}

#decrypt-submit-button, #encrypt-submit-button{
    background-color: coral;
}
.loading {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 120px;
  height: 120px;
  visibility: hidden;
}
.loading span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

.loading span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff0a
              0 0 20px #00ff0a
              0 0 40px #00ff0a
              0 0 60px #00ff0a
              0 0 70px #00ff0a;
  
  animation: loading 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes loading
{
  0%{
    transform: scale(1);
  }
  80%,100%{
    transform: scale(0);
  }
}