.box{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.box h1{
    background-color: white;
    font-weight: bold;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.inputfields input{
    font-size: 20px;
    margin: 5px;
}
.inputfields button{
    padding: 5px;
    font-size: 20px;
    background-color: green;
}

.downloadpdf a{
    display: block;
    margin: 10px;
    font-size: 30px;
    background-color: black;
    font-weight: bold;
    color:white;
    padding: 5px;
    text-decoration: none;
    border-radius: 7px;
}

.downloadpdf a:hover{
    background-color: blue;
    color:black;
}

.pdfdoc{
    background-color: white;
}
.pdfdoc a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    display: block;
    margin: 10px;
    background-color: chartreuse;
    padding: 5px;
}
.pdfdoc a:hover{
    background-color: black;
    color: white;
}