{%extends 'basic.html'%}
{%load static%}

{%block style%}
<link rel="stylesheet" href="{%static 'css/converterhome.css'%}">
{%endblock%}

{%block main%}
<div class="converterhome">
    <h1 align="center" id="heading">WELCOME TO THE CONVERTER</h1>
    <div class="homelinks">
        <a href="{%url 'pdfdochome'%}">Convert Document OR PDF </a>
        <a href="{%url 'pdfdochome'%}">Convert Image And PDF </a>
        <a href="{%url 'encryptfilehomepage'%}">Encrypt Your Files With Key </a>
    </div>
</div>
{%endblock%}